body {
  margin: 0;
  padding: 0;
  background-color: #d6eaf8;
}

textarea {
  height: 200px;
  width: 200px;
}

ul {
  list-style: none;
}

ul li {
  font-weight: 600;
  font-size: 20px;
  padding: 10px;
}

#Automata_1 {
  background-color: rgba(99, 99, 99, 0.751);
  margin: 0px;
  color: white;
  padding: 10px;
  border: black 2px solid;
  border-right: transparent;
}

#Automata_2 {
  background-color: rgba(201, 201, 201, 0.751);
  margin: 0px;
  padding: 10px;
  color: black;
  border: black 2px solid;
}

#bt_simular {
  color: white;
  font-size: 24px;
  border-radius: 2px;
}

.section_footer {
  width: 100%;
  float: left;
  background-color: #272222;
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer_section_2 {
  width: 100%;
  float: left;
  padding-top: 40px;
}

.shop_text {
  width: 100%;
  float: left;
  font-size: 28px;
  color: #ebebeb;
  font-weight: bold;
  padding: 25px 0px;
}

.dummy_text {
  width: 100%;
  float: left;
  font-size: 12pt;
  color: #ebebeb;
  margin-left: 0px;
  margin-top: 0px;
  line-height: 30px;
}

.pet_text {
  font-size: 12pt;
  color: #ebebeb;
  padding-left: 16px;
}

.image-icon {
  width: 100%;
  float: left;
  padding-top: 6px;
}

.footer-img {
  width: 100%;
  float: left;
  margin-top: 15px;
}

.adderess_text {
  width: 100%;
  float: left;
  font-size: 28px;
  color: #ebebeb;
  font-weight: bold;
  padding: 25px 0px;
}

.data {
  border: 1px solid black;
  height: 500px;

  margin: 0px auto;
}

.footer__flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.text-center {
  text-align: center;
}

.automataResultante {
  height: 600px;
  margin: 0px auto;
  border: 1px solid black;
}


